@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    margin: 0px;
    height: 100%;
    background-color: grey;
    font-family: 'Oswald', sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111111;
}

#active-link {
    background-color: #111111;
}

#search-box {
    float: right;
    margin-top: 15px;
}

#search-button {
    float: right;
    margin-top: 15px;
}

.activity-card {
    box-shadow: 6px 6px grey;
    border: solid black 1px;
    margin: auto;
    width: 250px;
    margin: 5px 10px 10px 15px;
    float: left;
}

.activity-card-title {
    background-color: grey;
    width: 100%;
}

.main-page {
    height: 100%;
    background-color: white;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18px;
    padding: 10px;
    overflow: auto;
}

h1 {
    text-align: center;
    margin-top: -50px;
    color: white;
}

h2 {
    text-align: center;
}

.cover-image {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
}

.cover-image img {
    width: 40%;
    margin-left: 30%;
}

#under-construction {
    width: 33%;
    margin-left: 33%;
}

.login-box {
    margin: auto;
    width: 120px;
}
